/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.object {
   min-width: 44px;
  min-height: 44px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', system-ui, sans-serif;
  line-height: 1.1;
}

/* ===== Auth Page ===== */

.auth-page {
  display: flex;
  height: 99.9vh;
  background: #A8B0C1;
}

/* Left image section */
.auth-left {
  flex: 1.4;
  /* more space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-right,
.auth-card,
.auth-input,
.auth-btn {
  pointer-events: auto;
}

.room-image {
  width: 100%;
  max-width: 650px;
  height: auto;
}
/* default = mobile */
.room {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

/* tablet */
@media (min-width: 768px) {
  .room {
    padding: 20px;
  }
}

/* desktop */
@media (min-width: 1024px) {
  .room {
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
  }
}

/* Right card section */
.auth-right {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-card {
  position: relative;
  z-index: 2;
  background: linear-gradient(135deg, #CBADA5, #ace1ba);
  padding: 40px;
  width: 600px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0 20px 40px #605d64;
}

/* Text */
.auth-title {
  font-size: 45px;
  font-weight: 600;
  color: #363945;

}

.auth-subtitle {
  font-size: 20px;
  color: #2C2726;
  margin-bottom: 25px;
}

/* Inputs */
.auth-input {
  position: relative;
  z-index: 3;
  background: linear-gradient(135deg, #E9FBEB, #FDE0F2);
  width: 90%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 14px;
  border: 1px #ddd;
  box-shadow: 0 20px 40px #5f5c65;
  outline: none;
  color: #3b4252
}

/* Buttons */
.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 18px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
}

.auth-btn.primary {
  background: #707E99;
  color: white;
}

.auth-btn.secondary {
  background: #e6e1ff;
  color: #707E99;
}

/* Message */
.auth-message {
  margin-top: 14px;
  font-size: 13px;
  color: #333;
}